<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>Your trusted one stop shop for home essentials!</h1>
    <p>Welcome to Al-Jadeer Commercial Establishment, we are a team of Saudi entrepreneurs with a mission to bring you the best goods at the best price. Based out of Riyadh, we research and procure the best quality goods for retail sale in Saudi Arabia.
    </p>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>